/* #region Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 80%;
    margin: auto;
}
/* #endregion Common */

/* #region Debug */

/* #endregion Debug */

/* #region Utilities */

/* #endregion Utilities */

/* #region Body */

/* #region Header */

/* #endregion Header */

/* #region Main */

/* #endregion Main */

/* #region Footer */

/* #endregion Footer */

/* #endregion Body */